<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; ">
  <h1>
    Get {{ title }}!
  </h1>
 <br>

<input type="text" value="{{videoURL}}" name="videoURL"   [(ngModel)]="videoURL" [(ngModel)]="videoURL" id="videoURL" required autocomplete="off" />
<button (click)="this.getThumbnailUrls()">Submit</button>


<div *ngIf="this.listOfThumbnails.length>0" >
  <div *ngFor="let urlVal of listOfThumbnails, index as i" >
    <a href="{{urlVal}}">{{urlVal}}</a>
    <br>
     <img src = "{{urlVal}}" alt="{{urlVal}}" />
     <br>
  </div>
</div>
</div>
